{% if check_available is True %}
<script>
    alert('확인 완료!')
</script>

<form method="POST"> {% csrf_token %}
    ID : <input type="text" name="PID" value ="{{PID}}"size=20>
    <input type="submit" name='IDcheck' value="중복확인">
    <br>
    PW : <input type="password" name="PPW" size=20>
    <br>
    check-PW : <input type="password" name="RPW" size=20>
    <br>
    Mail : <input type="text" name="PMail" size="30">
    <br>
    <input type="submit" name="submit" value="회원가입">
</form> 

{% else %}
<form method="POST"> {% csrf_token %}
    ID : <input type="text" name="PID" size=20>
    <input type="submit" name='IDcheck' value="중복확인">
    <br>
    PW : <input type="password" name="PPW" size=20>
    <br>
    check-PW : <input type="password" name="RPW" size=20>
    <br>
    Mail : <input type="text" name="PMail" size="30">
    <br>
    <input type="submit" name="submit" value="회원가입">
</form> 

{% endif %}
